@page "/classStudentadd"
@page "/classStudentadd/{id:guid}"
@using SchoolManagerSystem.Models;
@using SchoolManagerSystem.Data;
@using SchoolManagerSystem.Services;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject ClassStudentService ClassStudentService;
@inject CourseService CourseService;
@inject InstructorsService InstructorsService;
@inject NavigationManager navManager;

<PageTitle>Course</PageTitle>

<div class="container-fluid">
    <h3>Turma</h3>
</div>
<div class="container-fluid mb-3">
    <div class="row col-md-12 d-md-inline-flex">
        <select class="col-md-4 me-2" type="text" placeholder="Nome Curso" @bind = "CourseId">
            <option value="">Selecione o curso....</option>
            @if(course != null)
            {
                foreach(var item in course!)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
        <select class="col-md-4 me-2" type="text" placeholder="Nome Curso" @bind = "InstructorId" >
            <option value="">Selecione o professor....</option>
            @if(instructors != null)
            {
                foreach(var item in instructors!)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
        <input class="form-control border-secondary col-md-4 me-2" type="number" placeholder="Carga horária" @bind-value="@WorkLoad"/>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary" @onclick = "(() => SetCourse())">Salvar</button>
    <button type="button" class="btn btn-secondary">Cancelar</button>
</div>

@code{
    public Guid CourseId = Guid.Empty;
    public Guid InstructorId = Guid.Empty;
    public int WorkLoad = 0;
    public List<Course>? course { get; set; }
    public List<Instructor>? instructors { get; set; }

    [Parameter]
    public Guid? id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        course = await CourseService.GetCourseAsync(DbFactory);
        instructors = await InstructorsService.GetInstructorsAsync(DbFactory);
        if(id.HasValue)
        {
            var classStudent = await ClassStudentService.GetClassStudentByIdAsync(DbFactory,id.Value);
            if(classStudent != null)
            {
                CourseId = classStudent.CourseId;
                InstructorId = classStudent.InstructorId;
                WorkLoad = classStudent!.WorkLoad!;
            }
        }
    }

    public async Task SetCourse()
    {
        using var context = DbFactory.CreateDbContext();
        var classStudent = new ClassStudent();
        classStudent.CourseId = CourseId;
        classStudent.InstructorId = InstructorId;
        classStudent.WorkLoad = WorkLoad;
        
        if(!id.HasValue)
            await ClassStudentService.SetClassStudentAsync(DbFactory,classStudent);
        else
        {
            classStudent.Id = id.Value;
            await ClassStudentService.UpdateClassStudentAsync(DbFactory, classStudent);
        }
        navManager.NavigateTo($"/classStudent", true);
    }
}